.dahsboard__wrapper {
	padding: 3rem;
}
.dashboard__list {
	display: grid;
	gap: 3rem;
}
.dashboard__listitem {
	height: 200px;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-content: center;
}
.card__container {
	margin-block: auto;
}
