@import 'config.scss';

.dashboard__wrapper {
	padding: 3rem;
	background: $white;
	margin: 2rem;
	& > h1 {
		text-align: center;
		margin-bottom: 1rem;
	}
}
.dashboard__list {
	display: grid;
	gap: 2rem;
}
.dashboard__listitem {
	height: 200px;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-content: center;
}
.card__container {
	margin-block: auto;
}

.help__videos {
	padding-inline: 2rem;
	margin-top: 2rem;
	gap: 2rem;
	display: grid;
	grid-template-columns: 0.4fr 1fr;
}
iframe {
	min-width: 30%;
}
