@import 'config.scss';

.index__intro {
	text-align: center;

	display: flex;
}
.hero {
	width: 75%;
	max-height: 100vh;
}
.index__image-wrapper {
	background-color: $dark-orange;
	margin-bottom: 2rem;
}
.index__title {
}
a.index__button {
	width: 100%;
	padding-block: 1.2rem;
}
.index__image {
	width: 25%;
	margin: auto;
}
.index__buttons {
	display: grid;
	margin: auto;
	gap: 2rem;
	margin-inline: 2rem;
}
.attribution {
	position: fixed;
	bottom: 0px;
	background-color: white;
	padding: 0.5rem;
	text-decoration: none;
	font-size: 50%;
}
