@import 'config.scss';
.login__container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 4rem;
}
.title {
	display: block;
	text-align: center;
	font-size: 3rem;
}
.login {
	margin: auto;
}
.login__list {
	list-style: none;
}
.navbutton {
	display: block;
	margin: auto;
	font-size: 1.5rem;
	background: $dark-blue;
	text-decoration: none;
	color: $dark-orange;
	text-align: center;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border-radius: 2rem;
}
.logout {
	width: 25%;
}
