@import 'config.scss';
.login__container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 4rem;
	font-size: 2rem;
}
.signup {
	margin: auto;
	padding-left: 3rem;
	display: grid;
	grid-template-columns: 0.4fr 1fr;
}
.signup__form,
.login__form {
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	& > h1 {
		font-size: 200%;
	}
}
.login__form {
}
.signup__img {
	margin-right: 0px;
}

.title {
	display: block;
	text-align: center;
	font-size: 3rem;
}
.login {
	display: grid;
	grid-template-columns: 1fr 0.4fr;
}
.login__list {
	list-style: none;
	padding-left: 0rem;
}
.login__image {
	height: 100vh;
}
input.login__button,
input.signup__button {
	padding-inline: 5rem;
	margin-top: 2rem;
	margin-left: 0rem;
	background-color: $dark-blue;
}
.login__listitem {
	& > input {
		width: 100%;
	}
}
.navbutton {
	display: block;
	margin: auto;
	font-size: 1.5rem;
	background: $dark-blue;
	text-decoration: none;
	color: $dark-orange;
	text-align: center;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border-radius: 2rem;
}
.logout {
	width: 25%;
}
