.nav__list {
	display: flex;
	position: relative;
	list-style: none;
	background-color: var(--gray-8);
	padding-left: 20rem;
	margin-bottom: 3rem;
	font-size: 2rem;
}
a.nav__btn {
	color: var(--green-4);
	text-decoration: none;
	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-inline: 5rem;
	padding-block: 1rem;
}
.nav__listitem {
	font-size: 2rem;
}
.logo {
	width: 30%;
	min-width: 180px;
	max-width: 500px;
	position: absolute;
	left: 1rem;
	border-radius: 2rem;
}
.add {
	position: relative;
}
.add__options {
	position: absolute;
	text-align: center;
	display: flex;
	gap: 1rem;
	top: 5rem;
	left: 38.5rem;
	background-color: var(--gray-8);
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	& > a {
		color: var(--green-4);
		text-decoration: none;
	}
}
