@import 'config.scss';
.nav__list {
	width: 100%;
	background-color: $light-blue;
	font-size: 2rem;
	border-radius: 1rem;
}
.center {
	display: flex;
	position: relative;
	list-style: none;
	width: 50%;
	margin: auto;
	margin-bottom: 4rem;
}
a.nav__btn {
	color: $dark-blue;
	text-decoration: none;
	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-inline: 5rem;
	padding-block: 1rem;
}
.nav__listitem {
	font-size: 2rem;
}
.logo {
	width: 30%;
	min-width: 180px;
	max-width: 500px;
	position: absolute;
	left: 1rem;
	border-radius: 1rem;
}
.add {
	position: relative;
}
.add__options {
	position: absolute;
	text-align: center;
	display: flex;
	gap: 1rem;
	top: 5rem;
	left: 19.2rem;
	background-color: $light-blue;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	& > a {
		color: $dark-blue;
		text-decoration: none;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}
}
