@import 'config.scss';
.student__list {
	padding-inline: 2rem;
	margin: auto;
}
.student__list__cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
	padding-inline: 2rem;
}
.student__card {
	border-radius: 2rem;
	border: 3px solid $dark-orange;
	padding: 2rem;
	gap: 1rem;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	height: 280px;
	position: relative;
}
.student__link {
	text-decoration: none;
	color: $dark-blue;
	height: 100%;
}

.delete__button {
	position: absolute;
	display: block;
	width: 40px;
	right: 20px;
	top: 15px;
	cursor: pointer;
	font-size: 1.5rem;
	z-index: 2;
	background-color: red;
	border-radius: 2rem;
	text-align: center;
	color: white;
}
