.hidden {
	display: none;
}
.bold {
	font-weight: 700;
	text-align: left;
}
.large {
	font-size: 200%;
}

$dark-blue: #2c1b48;
$light-blue: #0893a0;
$dark-orange: #ffd8c6;
$light-grey: #c6d0e5;
$white: #e4edff;
