@use 'login.scss';
@use 'dashboard.scss';
@use 'search-student.scss';
@use 'nav.scss';
@use 'config.scss';

@import 'https://unpkg.com/open-props';

body {
	padding-inline: 2rem;
}

.green {
	color: green;
	text-decoration: underline;
}

/* light */
html {
	--brand-light: var(--orange-6);
	--text1-light: var(--gray-8);
	--text2-light: var(--gray-7);
	--surface1-light: var(--gray-0);
	--surface2-light: var(--gray-1);
	--surface3-light: var(--gray-2);
	--surface4-light: var(--gray-3);
	--surface-shadow-light: 200 10% 20%;
	--shadow-strength-light: 2%;
}
