@import 'config.scss';
.student {
	font-size: 1rem;
	width: 150rem;
	margin: auto;
	padding-inline: 2rem;
	display: grid;
	grid-template-columns: 0.6fr 1fr;
	gap: 1rem;
	margin-bottom: 2rem;
}
.student__search {
	font-size: 1.5rem;
}
.input {
	width: 80%;
	border-radius: 1rem;
}
.search__form {
	justify-items: left;
	gap: 1rem;
}
.search__btn {
	background-color: $dark-blue;
	color: white;
	border-radius: 1rem;
	padding-inline: 2rem;
	padding-block: 1rem;
}
.student__info {
	font-size: 1.5rem;
	display: grid;
	gap: 1rem;
	text-align: left;
	grid-template-columns: 1fr 1fr;
	padding: 2rem;
	background-color: $white;
	color: black;
	border-radius: 1rem;
}
.grade__header {
	color: black;
}
.searchStudent__title {
	font-size: 3rem;
}
.grade__info {
	// height: 350px;
	border-radius: 1rem;
	display: flex;
	gap: 4rem;
	position: relative;
	overflow-x: scroll;
	margin-bottom: 2rem;
}
.grade__info__container {
	grid-column: 1 / span 2;
	background-color: $white;
	border-radius: 1rem;
	padding-inline: 2rem;
	padding-top: 1rem;
	margin-bottom: 1rem;
	width: 150rem;
}
.goal__info {
	font-size: 150%;
	display: grid;
	gap: 1rem;
	width: 450px;
	grid-template-rows: 0.3fr 1fr 0.3fr 0.5fr;
	text-align: left;
	border: 2px solid white;
	padding-inline: 3rem;
	padding-block: 1rem;
	margin-bottom: 3rem;
	border-radius: var(--radius-3);
	box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.4);
	background-color: $dark-orange;
	opacity: 90%;
}
.goal__attained {
	background-color: $light-blue;
	color: $dark-blue;
	opacity: 100%;
}
.text__container {
	background-color: $light-grey;
	color: black;
	padding: 1rem;
	border-radius: 1rem;
	border: 2px solid black;
}
.attained {
	border: 3px solid rgb(26, 201, 26);
}
.carousel__container {
	// width: 150%;
	display: flex;
	gap: 2rem;
	border-radius: 1rem;
}

.accommodations {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column: 1 / span 2;
	gap: 1rem;
	margin-bottom: 2rem;
}
.accommodation__container {
	border: 2px solid $dark-blue;
	color: $dark-blue;
	font-weight: 700;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1.3rem;
	padding-inline: 1rem;
	padding-block: 1rem;
	border-radius: 1rem;
}
