head
  title ESE-At-A-Glance
  //- script(src="https://cdn.tailwindcss.com")
  //- script(src="https://cdn.tailwindcss.com") 
  //- link(href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" )
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", href="/css/reset.css")

  
