
nav.bg-base-100.font-bold.text-accent.text-sm.px-8(class='xl:text-2xl md:text-xl md:px-4 lg:px-8 xl:px-12')
  div.flex.m-auto.text-center.justify-between(class='w-100vw xl:gap-4 2xl:gap-6 ')
    div.py-4(class='xl:min-w-[100px]') 
      a( href='/dashboard') Dashboard     
    div.py-4(class='xl:min-w-[100px] block')   
      a(class='', href='/student/addNewStudent') New Student
    div.py-4(class='xl:min-w-[100px]') 
      a(class='', href='/student/addGoals') New Goal
    div.py-4(class='xl:min-w-[100px]') 
      a(class='', href='/student/addAccommodations') New Accomm
    div.py-4(class='xl:min-w-[100px]') 
      a(class='', href='/student/searchStudent') Search
  div.navbar-end.flex
    a(class=' z-50 px-8 fixed bottom-0 right-0 m-4 text-center mb-16 w-48 bg-base-100 rounded py-2' , href='/logout') Log Out