
nav.navbar.bg-primary
  div.navbar-start.px-8.gap-10
    a(class='nav__btn', href='/dashboard') Dashboard     
    a(class='nav__btn', href='/student/addNewStudent') New Student
    a(class='nav__btn', href='/student/addGoals') New Goal
    a(class='nav__btn', href='/student/addAccommodations') New Accommodation

    a(class='nav__btn', href='/student/searchStudent') Search
  div.navbar-end
      a(class='px-16', href='/logout') Log Out