
nav.navbar.bg-primary.font-bold.text-secondary.border-4.border-b-secondary.border-x-primary.border-t-primary
  div.navbar-start.px-8.gap-10
    a(class='', href='/dashboard') Dashboard     
    a(class='', href='/student/addNewStudent') New Student
    a(class='', href='/student/addGoals') New Goal
    a(class='', href='/student/addAccommodations') New Accommodation

    a(class='', href='/student/searchStudent') Search
  div.navbar-end
      a(class='px-16 ', href='/logout') Log Out