html 
  include partials/_head.pug
body
  include partials/_nav.pug
  form(action="/student/addAccommodations" method="POST")
      p ID Number:
      if ID 
        input(type="text" name="ID" value=ID)
      else
        input(type="text" name="ID" placeholder="")
      h1 Accommodations List 
      h1 Presentation
      section.presentation
        input(type="checkbox" name="Sign Language") 
        label(for="Sign Language") Sign Language
        input(type="checkbox" name="Large Print") 
        label(for="Large Print") Large Print
        input(type="checkbox" name="Color Contrast") 
        label(for="Color Contrast") Color Contrast
        input(type="checkbox" name="Video Recordings") 
        label(for="Video Recordings") Video Recordings
      h1 Response
      section.response
      h1 Setting
      section.setting
      h1 Scheduling
      section.scheduling
      input(type="submit", value="TURN IT IN") 
  include partials/_footer.pug