html 
  include partials/_head.pug
  body
    include partials/_nav.pug
    h2 History
    form(action="/student/addGoals" method="POST")
      p ID Number:
      if ID 
        input(type="text" name="ID" value=ID)
      else
        input(type="text" name="ID" placeholder="")
      p What grade is this goal for?
        br
        select(name="goalGrade")
          option(value=0) Kindergarten 
          option(value=1) 1st Grade 
          option(value=2) 2nd Grade 
          option(value=3) 3rd Grade 
          option(value=4) 4th Grade 
          option(value=5) 5th Grade 
          option(value=6) 6th Grade 
          option(value=7) 7th Grade 
          option(value=8) 8th Grade 
          option(value=9) 9th Grade 
          option(value=10) 10th Grade 
          option(value=11) 11th Grade 
          option(value=12) 12th Grade 
          option(value=13) Other 
      h3 Goal1
      p Domain:
        select(name="domain")
          option(value="curriculum") Curriculum and Learning Environment
          option(value="socialEmotional") Social/Emotional
          option(value="independentFunctioning") Independent Functioning
          option(value="healthcare") Healthcare
          option(value="communication") Communication
      p Text:
        input(type="text" name="goalText" placeholder="")
      p Succeed
        input(type="checkbox" name="succeed" placeholder="")
      p Notes:
        input(type="text" name="notes" placeholder="")
      input(type="submit", value="Submit Goal")
      br
      a(href="/dashboard") Back to Dashboard 
  include partials/_footer.pug

script(src="../js/main.js") 