html
  head
    title ESE-At-A-Glance
    link(rel="stylesheet", href="../../css/output.css")
    script(src="https://kit.fontawesome.com/a0bcd08329.js" crossorigin="anonymous")
    link(rel="icon", href="/assets/favicon.png")
  body.bg-secondary.min-h-screen(class="max-w-[2200px]").m-auto.relative.pb-20
    include partials/_nav.pug
    section(class).my-6
      section.grid.grid-cols-4.mx-auto(class='w-1/2')
        h1.text-5xl.text-primary.text-center.mb-8.col-span-4.col-start-1 Add Goals
      form(method="GET" action='/student/addAccommodations/'+ID).mx-auto.w-48(class='lg:w-64')
        label(for=`${ID}`)
          input(class=`${ID}` value=`${ID}`).hidden
        input.btn-primary.text-accent.btn.rounded-full.py-3.w-48( type="submit" class='lg:w-64' value="Add Accommodations →")
      form.bg-base-100.py-8.px-2.m-auto(class="md:px-4 md: md:gap-6 lg:gap-10  lg:m-auto text-lg md:text-xl lg:text-2xl lg:p-6 w-3/4  xl:p-12 xl:m-auto" action="/student/addGoals" method="POST")
        div.grid.gap-4.grid-cols-5
          p.text-center.col-span-1 ID Number:
          if ID 
            input.text-accent(class="col-span-4 px-2" type="text" name="ID" value=ID)
          else
            input.text-accent(class="col-span-4 px-2" type="text" name="ID" placeholder="")
          p.text-center.col-span-1 Grade
          select.text-accent(class="col-span-4 px-2" name="goalGrade")
            option(value=0) Kindergarten 
            option(value=1) 1st Grade 
            option(value=2) 2nd Grade 
            option(value=3) 3rd Grade 
            option(value=4) 4th Grade 
            option(value=5) 5th Grade 
            option(value=6) 6th Grade 
            option(value=7) 7th Grade 
            option(value=8) 8th Grade 
            option(value=9) 9th Grade 
            option(value=10) 10th Grade 
            option(value=11) 11th Grade 
            option(value=12) 12th Grade 
            option(value=13) Other 
          p.text-center.col-span-1 Domain:
          select.text-accent(class="col-span-4 px-2" name="domain")
            option(value="curriculum") Curriculum and Learning Environment
            option(value="socialEmotional") Social/Emotional
            option(value="independentFunctioning") Independent Functioning
            option(value="healthcare") Healthcare
            option(value="communication") Communication
          p.text-center.col-span-1 Text:
          textarea.text-accent(class="col-span-4 " name="goalText", cols="30", rows="5") 
          p.text-center.col-span-1 Attained
          input.text-accent(class="col-span-4 " type="checkbox" name="succeed" placeholder="" class="bg-primary text-left w-5")
          p.text-center.col-span-1 Notes:
          textarea.text-accent( class="col-span-4 " name="notes", cols="30", rows="5") 
        div.flex.justify-end.mt-6.gap-16
          input.m-auto.btn-secondary.w-64.rounded-full.py-3.self-right(type="submit", value="Submit Goal" class="btn btn-warning")

            
      
  include partials/_footer.pug

script(src="../js/main.js") 