html 
  include partials/_head.pug
  body
    include partials/_nav.pug
    section.addGoals__wrapper
      h1.addGoals__title History
      form(action="/student/addGoals" method="POST" class="addGoals__form")
        p ID Number:
        if ID 
          input(type="text" name="ID" value=ID)
        else
          input(type="text" name="ID" placeholder="")
        p What grade is this goal for?
        select(name="goalGrade")
          option(value=0) Kindergarten 
          option(value=1) 1st Grade 
          option(value=2) 2nd Grade 
          option(value=3) 3rd Grade 
          option(value=4) 4th Grade 
          option(value=5) 5th Grade 
          option(value=6) 6th Grade 
          option(value=7) 7th Grade 
          option(value=8) 8th Grade 
          option(value=9) 9th Grade 
          option(value=10) 10th Grade 
          option(value=11) 11th Grade 
          option(value=12) 12th Grade 
          option(value=13) Other 
        p Domain:
        select(name="domain")
          option(value="curriculum") Curriculum and Learning Environment
          option(value="socialEmotional") Social/Emotional
          option(value="independentFunctioning") Independent Functioning
          option(value="healthcare") Healthcare
          option(value="communication") Communication
        p Text:
        textarea(name="goalText", cols="30", rows="5") 
        section.attained__wrapper
          p Attained
          input(type="checkbox" name="succeed" placeholder="" class="checkbox")
        p Notes:
        textarea(name="notes", cols="30", rows="5") 
        input(type="submit", value="Submit Goal" class="goal__submit")
      a(href="/student/addAccommodations")
        button Add Accommodations
  include partials/_footer.pug

script(src="../js/main.js") 