html(data-theme=" ")
  include partials/_head.pug
  body.bg-secondary.min-h-screen(class="max-w-[2200px]").m-auto
    section.flex  
      img(src="assets/hero.jpg", alt="", class="h-screen")
      section.card.flex.flex-col.m-auto.p-16.bg-primary
        h1.text-secondary.text-4xl.text-center Welcome to ESE-at-a-Glance!
        div.mx-20.mt-8.flex.flex-col.gap-14.m-auto
          a(href='/login' class="btn rounded-full bg-accent" ) Login
          a(href='/signup' class="btn rounded-full  btn-secondary" ) SignUp

      a(href="https://www.freepik.com/free-vector/schoolboy-standing-books-raising-hand-speaking-pupil-reading-home-task-report-flat-vector-illustration-school-education-knowledge_10173517.htm#query=student%20illustration&position=3&from_view=keyword" class="absolute text-primary px-8 bottom-0") Image by pch.vector on Freepik