html 
  include partials/_head.pug
  body
  section.index__intro  
    h1.index__title Welcome to ESE-at-a-glance!
    section.index__buttons
       a.signup.navbutton.index__button(href='/login') Login
       a.signup.navbutton.index__button(href='/signup') SignUp