html(data-theme=" ")
  include partials/_head.pug
  body
    div.login__container
      div.login
        img(class="login__image" src="assets/login__image.png", alt="", srcset="")
        section.login__form
          form(action="/login" method="POST")
            ul.login__list
              li.login__listitem
                p Email:
                input(type="text" name="email" placeholder="")
              li.login__listitem
                p Password:
                input(type="password" name="password" placeholder="")
              li.login__listitem
              input(class="btn w-64 rounded-full" type="submit" value='Login')
    include partials/_footer.pug
      a.signup.navbutton(href='/signup') signup here today!