html(data-theme=" ")
  include partials/_head.pug
  body.bg-base-100.min-h-screen(class="max-w-[2200px]").m-auto
    section.flex  
      img(class="h-screen" src="assets/login__image.png", alt="", srcset="")
      div.card.bg-secondary.p-12.m-auto
        h1.text-primary.text-4xl.text-center.mb-12 Login
        form.grid.gap-4.grid-cols-auto.text-neutral(action="/login" method="POST" class="signup__form")
          p.text-xl Email:
          input.text-accent.px-1(type="email" name="email" placeholder="")
          p.text-xl Password
          input.text-accent.px-1(type="password" name="password" placeholder="")
          button.btn.bg-primary.rounded-full.px-8.col-span-2.mt-8.border-2.text-accent.font-semibold(class='w-1/2 justify-self-center')
            input.text-secondary.w-full.py-2(type="submit" value='Login')

   
    include partials/_footer.pug