html(data-theme=" ")
  include partials/_head.pug
  body.bg-secondary.min-h-screen(class="max-w-[2200px]").m-auto
    section.flex  
      img(class="h-screen" src="assets/login__image.png", alt="", srcset="")
      div.card.bg-primary.p-12.m-auto
        h1.text-secondary.text-4xl.text-center.mb-12 Login
        form.grid.gap-4.grid-cols-auto.text-neutral(action="/login" method="POST" class="signup__form")
          p.text-xl Email:
          input.text-primary(type="email" name="email" placeholder="")
          p.text-xl Password
          input.text-primary(type="password" name="password" placeholder="")
          btn.btn-secondary.rounded-full.px-8.col-span-2.mt-8(class='w-1/2 justify-self-center')
            input.text-primary.w-full(type="submit" value='Login')

   
    include partials/_footer.pug