html(data-theme=" ")
  include partials/_head.pug
  body.bg-neutral.min-h-screen
    section.flex.justify-content-end 
      div.card.bg-primary.mx-8.p-12.m-auto
        h1.text-secondary.text-4xl.text-center.mb-12 Register
        form.grid.gap-4.grid-cols-auto.text-neutral(action="/signup" method="POST" class="signup__form")
          p.text-xl Email:
          input.text-primary(type="email" name="email" placeholder="")
          p.text-xl First Name:
          input.text-primary(type="text" name="firstName" placeholder="")
          p.text-xl Last Name:
          input.text-primary(type="text" name="lastName" placeholder="")
          p.text-xl Password:
          input.text-primary(type="password" name="password" placeholder="")
          p.text-xl Confirm Password:
          input.text-primary(type="password" name="confirmPassword" placeholder="")
          btn.btn-secondary.rounded-full.px-8.col-span-2.mt-8(class='w-1/2 justify-self-center')
            input.text-primary.w-full(type="submit" value='Register')
      img(class="h-screen align-right justify-self-end" src="assets/signup__hero.png", alt="", srcset="")