doctype html 
html(lang='en')
  head 
    title Register!
body
  div.signup
    h1= "Register"
    form(action="/signup" method="POST")
      p Email:
        input(type="email" name="email" placeholder="")
      p Username:
        input(type="text" name="userName" placeholder="")
      p Password:
        input(type="password" name="password" placeholder="")
      p Confirm Password:
        input(type="password" name="confirmPassword" placeholder="")
      input(type="submit" value='Register')