html 
  include partials/_head.pug
  body
  h1 Welcome #{userName}
  h1 Here is your list of students: 
  if studentList
    for student in studentList
      div.student__card
        h1 Student Name: #{student.firstName.toUpperCase() + ' ' + student.lastName.toUpperCase()}