html 
  include partials/_head.pug
  body
  include partials/_nav.pug
  h1 Welcome #{userName}
  h1 Here is your list of students:s 
  if studentList
    section.student__list
    for student in studentList
      div.student__card
        h1 Student Name: #{student.firstName.toUpperCase() + ' ' + student.lastName.toUpperCase()}
  include partials/_footer.pug