@import 'https://unpkg.com/open-props';
.login__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4rem;
}

.title {
  display: block;
  text-align: center;
  font-size: 3rem;
}

.login {
  margin: auto;
}

.login__list {
  list-style: none;
}

.navbutton {
  display: block;
  margin: auto;
  font-size: 1.5rem;
  background: blue;
  color: white;
  text-decoration: underline;
  text-align: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 2rem;
}

.logout {
  width: 50%;
}

.dashboard__list {
  display: grid;
  gap: 3rem;
}

.dashboard__listitem {
  height: 200px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.card__container {
  margin-block: auto;
}

.hidden {
  display: none;
}

.bold {
  font-weight: 700;
  text-align: left;
}

.student__info {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 4rem;
  background-color: #fafafe;
  color: black;
  padding-block: 2rem;
  margin-inline: 2rem;
  border-radius: 1rem;
}

.grade__info {
  height: 300px;
  display: flex;
  gap: 4rem;
  position: relative;
  overflow-x: scroll;
  margin-bottom: 2rem;
}

.goal__info {
  font-size: 150%;
  color: black;
  display: grid;
  width: 390px;
  grid-template-rows: 1fr 0.2fr 0.4fr;
  text-align: left;
  border: 2px solid black;
  padding-inline: 3rem;
  padding-top: 3rem;
  margin-bottom: 1rem;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
  background-color: #63c5cf;
  opacity: 70%;
}

.goal__attained {
  background-color: #c17344;
  color: black;
  opacity: 100%;
}

.carousel__container {
  display: flex;
  gap: 2rem;
}

.nav__list {
  display: flex;
  position: relative;
  list-style: none;
  background-color: var(--gray-8);
  padding-left: 20rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  border-radius: 1rem;
}

a.nav__btn {
  color: var(--green-4);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 5rem;
  padding-block: 1rem;
}
a.nav__btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav__listitem {
  font-size: 2rem;
}

.logo {
  width: 30%;
  min-width: 180px;
  max-width: 500px;
  position: absolute;
  left: 1rem;
  border-radius: 1rem;
}

.add {
  position: relative;
}

.add__options {
  position: absolute;
  text-align: center;
  display: flex;
  gap: 1rem;
  top: 5rem;
  left: 38.5rem;
  background-color: var(--gray-8);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.add__options > a {
  color: var(--green-4);
  text-decoration: none;
  border-radius: 1rem;
}

.hidden {
  display: none;
}

.bold {
  font-weight: 700;
  text-align: left;
}

body {
  padding-inline: 2rem;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #2d1d49;
}

.green {
  color: green;
  text-decoration: underline;
}

.dropout {
  animation: var(--animation-fade-out) forwards, var(--animation-slide-out-down);
  animation-timing-function: var(--ease-squish-3);
  animation-duration: 1s;
}

html {
  font-size: 62.5%;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.not {
  text-decoration: underline;
}

/* ##### CSS RESET ##### */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*# sourceMappingURL=style.css.map */
